//- HTML start
include ../data/portfolio

doctype html
html(lang="en")
	head
		include ../partials/head

	body
		

		.page
			.vertical-lines.container
				.vertical-lines__center

			include ../partials/header

			.page-heading
				.container
					.page-heading__wrapper
						.page-heading__l
							h1 About Us

						.page-heading__r
							a(href="javascript:void(0);" class="btn btn-primary btn--with-icon js-scroll-to")
								span.btn__text LEARN MORE
								span.btn__icon
									span.icon.icon-scroll-down

			.about-us.page-content-border
				.about-us-content
					.offset-container-right
						img(src="src/img/about-us/top-img.jpg" alt="")

					.container
						.textbox-with-icon.textbox-with-icon--l
							p We are an architecture firm, The Bradley Projects, and a real estate development company, The Bradley Development Group. The Bradley Development Group as a general contractor is now known as Certified Construction Services.

					.two-images
						.container
							.two-images__wrapper
								.two-images__item.first
									img(src="src/img/about-us/img-a.jpg" alt="")
								.two-images__item.second
									img(src="src/img/about-us/img-b.jpg" alt="")

					.two-columns-text
						.container
							.row
								.col-12.col-sm-12.col-md-12.col-lg-6
									p “We are an architect and development team focused on fueling all things built in urban growth areas that are community minded and contextually driven. Our passion has always been focused on providing fresh opportunities within the existing urban fabric of our cities, may that be where we started in Southern California, or in the heart of the Southeastern US. We believe that every project, regardless of the asset class, is an opportunity to push the limits of architecture and provide world-class design regardless of site restrictions or economical parameters. Great projects should exist at every level.
								.col-12.col-sm-12.col-md-12.col-lg-6
									p These days, world-class architecture requires a team of like-minded individuals with vertically integrated skillsets. We are diligent in the way we approach project analysis and have the experience, flexibility and creativity in real-time problem solving to implement projects and create unparalleled value. Since 2006 we have been building a truly integrated approach to real estate development. In 2009, we initiated a fully licensed general contracting division and recently converted that division to a flexible, larger and more robust construction company now known as Certified Construction Services”

					.offset-container-left
						img(src="src/img/about-us/img-2.jpg" alt="")

					.container
						.textbox-with-icon.textbox-with-icon--r
							p We #[strong design], #[strong build] and #[strong develop] our own projects with partners and investors, but also design and build for clients who appreciate thoughtful and progressive design.

				//- Companies
				-
					var items = [
						{
							top: "THE BRADLEY PROJECTS",
							title: "Architecture.",
							img: "src/img/about-us/company-1.jpg"
						},
						{
							top: "BRADLEY DEVELOPMENT GROUP",
							title: "Development.",
							img: "src/img/about-us/company-2.jpg"
						},
						{
							top: "Certified Construction",
							title: "Construction.",
							img: "src/img/about-us/company-3.jpg"
						}
					];
				.companies
					.container
						.companies-grid
							.companies-grid__inner
								each item in items
									.companies-card
										.companies-card__inner
											.companies-card__img
												img(src=item.img alt="")
											.companies-card__top-text #{item.top}
											.companies-card__main-content
												.companies-card__title #{item.title}
												.companies-card__btn
													a(href="#" class="btn btn-inverse btn--with-icon")
														span.btn__text LEARN MORE
														span.btn__icon
															span.icon.icon-arrow-right

				.section.capabilities
					.container
						.section-heading.section-heading--with-arrow
							.section-heading__l
								.h2 Capabilities &amp; Services


						.section-content
							.capabilities-grid
								.capabilities-grid__line1
								.capabilities-grid__line2
								.capabilities-grid__line3

								.row
									.col-12.col-sm-6.col-md-4.capabilities-item
										.capabilities-item__wrapper
											.capabilities-item__text Acquisition &amp; Planning.
											.capabilities-item__number
												img(src="src/img/home/1.svg" alt="" class="img-default")
												img(src="src/img/home/1-active.svg" alt="" class="img-active")

											.capabilities-grid__line4

									.col-12.col-sm-6.col-md-4.capabilities-item
										.capabilities-item__wrapper
											.capabilities-item__text Equity &amp; Financing.
											.capabilities-item__number
												img(src="src/img/home/2.svg" alt="" class="img-default")
												img(src="src/img/home/2-active.svg" alt="" class="img-active")

											.capabilities-grid__line5
											.capabilities-grid__line6

									.col-12.col-sm-6.col-md-4.capabilities-item
										.capabilities-item__wrapper
											.capabilities-item__text Architectural &amp; Engineering.
											.capabilities-item__number
												img(src="src/img/home/3.svg" alt="" class="img-default")
												img(src="src/img/home/3-active.svg" alt="" class="img-active")

											.capabilities-grid__line7

									.col-12.col-sm-6.col-md-4.capabilities-item
										.capabilities-item__wrapper
											.capabilities-item__text Full Construction Services
											.capabilities-item__number
												img(src="src/img/home/4.svg" alt="" class="img-default")
												img(src="src/img/home/4-active.svg" alt="" class="img-active")
									.col-12.col-sm-6.col-md-4.capabilities-item
										.capabilities-item__wrapper
											.capabilities-item__text Asset Delivery.
											.capabilities-item__number
												img(src="src/img/home/5.svg" alt="" class="img-default")
												img(src="src/img/home/5-active.svg" alt="" class="img-active")
									.col-12.col-sm-6.col-md-4.capabilities-item.capabilities-item--text-only
										.capabilities-item__wrapper
											.capabilities-item__text <strong>Design, Build &amp; Develop</strong><br> own projects

				//- Team
				-
					var team_members = [
						{
							name: "Jared Bradley",
							descr: "AIA, NCARB",
							content: "<p>Jared Bradley, AIA, NCARB, seeks to create boundary-pushing concepts that fuel the evolution of built environments. With over 20 years of experience, Bradley has grown to understand the value of designing with wellbeing and space-making in mind.</p><p>The firm’s clean, modern, and crisp concepts celebrate their local community and showcase architecture as a true art form. His imaginative and progressive designs have guided the firm’s approach to development. His scope encompasses a mix of building types and uses, diverse housing and transportation options, transformation within existing neighborhoods, and community engagement. Bradley has accumulated an extensive background in architecture, urban planning, real estate development, and general contracting with expertise ranging from single- and multi-family residential projects to high-end restaurants, retail, mass transit and institutional projects.</p>",
							img: "src/img/about-us/team-jared.jpg"
						},
						{
							name: "Ashley Bradley",
							descr: "VP/CFO",
							content: "<p>Ashley Bradley, VP/CFO, seeks to create boundary-pushing concepts that fuel the evolution of built environments. With over 20 years of experience, Bradley has grown to understand the value of designing with wellbeing and space-making in mind.</p><p>The firm’s clean, modern, and crisp concepts celebrate their local community and showcase architecture as a true art form. His imaginative and progressive designs have guided the firm’s approach to development. His scope encompasses a mix of building types and uses, diverse housing and transportation options, transformation within existing neighborhoods, and community engagement. Bradley has accumulated an extensive background in architecture, urban planning, real estate development, and general contracting with expertise ranging from single- and multi-family residential projects to high-end restaurants, retail, mass transit and institutional projects.</p>",
							img: "src/img/about-us/team-ashley.jpg"
						},
						{
							name: "Andrew Zimmerman",
							descr: "CFO",
							content: "<p>Andrew Zimmerman, CFO, seeks to create boundary-pushing concepts that fuel the evolution of built environments. With over 20 years of experience, Bradley has grown to understand the value of designing with wellbeing and space-making in mind.</p><p>The firm’s clean, modern, and crisp concepts celebrate their local community and showcase architecture as a true art form. His imaginative and progressive designs have guided the firm’s approach to development. His scope encompasses a mix of building types and uses, diverse housing and transportation options, transformation within existing neighborhoods, and community engagement. Bradley has accumulated an extensive background in architecture, urban planning, real estate development, and general contracting with expertise ranging from single- and multi-family residential projects to high-end restaurants, retail, mass transit and institutional projects.</p>",
							img: "src/img/about-us/team-andrew.jpg"
						}
					];
				.team.section
					.container
						.section-heading.section-heading--with-arrow
							.section-heading__l
								.h2 The Bradley Team
							.section-heading__r <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>

						.section-content
							.team-grid
								.team-grid__inner
									each item in team_members
										.team-card
											.team-card__inner
												.team-card__img
													img(src=item.img alt="")
												.team-card__hover
													.team-card__main(data-simplebar) !{item.content}
													
												.team-card__bottom
													.team-card__bottom-l
														.team-card__name #{item.name}
														.team-card__descr #{item.descr}
													.team-card__bottom-r
														a(href="#" class="instagram-circle-link")
															span.icon.icon-instagram-circle


			include ../partials/footer
			include ../partials/js